.logo {
    width: 60px;
    height: 60px;
}

.userimage {
    width: 40px;
    height: 40px;
    background-color: aqua;
    border-radius: 50%;
}

.zcv {
    display: flex;
    justify-content: space-between;
}